*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  width: 1085px;
  margin: auto;
  background-color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4", serif;
  background-color: gray;
}

/* TYPOGRAPHY */

.nav {
  font-weight: 600;
  font-size: 1rem;
  color: #090909;
  text-decoration: none;
}

.blog-date {
  font-size: 0.875rem;
  color: #000000;
}

.blog-title {
  font-weight: bold;
  color: #141414;
  font-size: 1.5rem;
}

.blog-preview {
  color: #505050;
  font-size: 1rem;
}

.view-more {
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  padding: 3em;
}

/* .blogimage {
  width: 309px;
  height: 232px;
} */

.post-date {
  font-weight: 400;
  font-size: 1rem;
  color: #151515;
}

.post-title {
  font-weight: 700;
  font-size: 2.25rem;
  color: #151515;
}

.post-content {
  font-weight: 400;
  font-size: 1rem;
  color: #151515;
}

.post-title-2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #151515;
}

.recent-posts-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #141414;
  text-align: center;
}

header {
  display: flex;
  padding: 1em;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex: 1;
  gap: 0.5em;
  justify-content: right;
  padding-right: 1em;
}

.blog-post {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  /* margin:2em; */
}

.blog-posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4em;
}

.footer-blogname {
  font-weight: 700;
  color: #ececec;
  font-size: 0.75rem;
  margin: 0;
}

.copyright {
  font-weight: 400;
  color: #d7d7d7;
  font-size: 0.75rem;
  margin: 0;
}

footer {
  background-color: black;
  text-align: center;
  padding: 2em 2em;
}

.hero img {
  height: 488px;
  width: 1085px;
}

.hero-2 img {
  width: 979px;
  height: 488px;
  border-radius: 3px 0px 0px 0px;
  padding: 1em;
  margin: auto;
}

.hero-2 {
  display: flex;
}

.post {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.about-me {
  display: flex;
  gap: 1.5em;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.about-me img {
  width: 182px;
  height: 182px;
}

.salute-title {
  font-weight: 700;
  font-size: 2.25rem;
  color: #151515;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.salute-content {
  font-weight: 400;
  font-size: 1rem;
  color: #151515;
  margin-top: 0;
}

.salute {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES */

@media (min-width: 414px) {
  .blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 2em;
    grid-gap: 1.5em;
  }
}
